<!DOCTYPE html>
<html lang="fr" data-ng-app>
	<head>
		<title>Angular JS Base</title>
	</head>
	<body>
		<input type="text" ng-model="name" placeholder="name"/>
		<p>My name is : {{ name }}</p>

		<hr>

		<input type="text" ng-model="nb1" placeholder="Nombre 1"/>
		*
		<input type="text" ng-model="nb2" placeholder="Nombre 2"/>
		<p>{{ nb1*nb2 }}</p>

		<hr>

		<input type="text" ng-model="myfilter" placeholder="name"/>

		<div ng-init="words=['zend','angular','node','grunt','rest']">
			<ul>
				<li ng-repeat=" word in words | filter:myfilter"> {{ word }} </li>
			</ul>
		</div>

		<hr>

		<input type="text" ng-model="myfiltervalue" placeholder="name"/>

		<div ng-init="objs=[{value:'zend'},{value:'angular'},{value:'node'},{value:'grunt'},{value:'rest'}]">
			<ul>
				<li ng-repeat=" obj in objs | filter:{value:myfiltervalue} | orderBy:'value'"> {{ obj.value }} </li>
			</ul>
		</div>


		<!-- Vendor -->
		<script type="text/javascript" src="vendor/angular-1.4.8/angular.min.js"></script>
	</body>
</html>
