<div class="jumbotron" >
	<h1>List Albums</h1>
</div>

<div class="row" dir-loader="albums">
	<div class="col-lg-4" ng-repeat="album in albums._embedded.albumfull">
	  <h2>{{ album.title | truncate: 20 | ucFirst}}</h2>
	 <p class="text-danger">{{ album.name_genre }}</p>
	  <p>{{ album.description }}</p>
	  <p>
	  	<a class="btn btn-primary" href="#/album/{{album.id}}" role="button">View details &raquo;</a>
	  </p>
	  <img ng-src="{{API_URL + album.picture}}" alt="" width="100px" />
	</div>
</div>
