<h3 class="text-muted">Project name</h3>
<nav>
  <ul class="nav nav-justified">
    <li ng-class="{active: isActive('/')}"><a href="#/">Home</a></li>
    <li ng-class="{active: isActive('/albums')}"><a href="#/albums">Albums</a></li>
    <li ng-class="{active: isActive('/login')}"><a href="#/login">Login</a></li>
  </ul>
</nav>
